name: CodeQuality
on:
  workflow_call:
    inputs:
      explicit_checks:
        type: string
        required: false
      extension_name:
        type: string
        required: true
      override_repository:
        type: string
        required: false
      override_ref:
        type: string
        required: false
      duckdb_version:
        type: string
        required: true
      override_ci_tools_repository:
        type: string
        required: false
        default: "dtenwolde/extension-ci-tools"
      ci_tools_version:
        type: string
        required: true
      extra_toolchains:
        type: string
        required: false
    secrets:
      GH_TOKEN:
        required: false
  repository_dispatch:
  merge_group:
  pull_request:
    types: [opened, reopened]
    paths-ignore:
      - '**.md'
      - '.github/workflows/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  format-check:
    name: Format Check
    runs-on: ubuntu-22.04

    env:
      CC: gcc-10
      CXX: g++-10
      GEN: ninja

    steps:
      - uses: actions/checkout@v4
        name: Checkout override repository
        if: ${{inputs.override_repository != ''}}
        with:
          repository: ${{ inputs.override_repository }}
          ref: ${{ inputs.override_ref }}
          fetch-depth: 0
          submodules: 'recursive'

      - uses: actions/checkout@v4
        name: Checkout current repository
        if: ${{inputs.override_repository == ''}}
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - uses: actions/checkout@v4
        name: Checkout Extension CI tools
        with:
          path: 'extension-ci-tools'
          ref: ${{ inputs.ci_tools_version }}
          repository: ${{ inputs.override_ci_tools_repository }}

      - name: Install
        shell: bash
        run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build clang-format-11 && sudo pip3 install cmake-format 'black==24.*' cxxheaderparser pcpp 'clang_format==11.0.1'

      - name: List Installed Packages
        shell: bash
        run: pip3 freeze

      - name: Format Check
        shell: bash
        run: |
          clang-format --version
          clang-format --dump-config
          black --version
          make format-check

  tidy-check:
    name: Tidy Check
    runs-on: ubuntu-24.04

    env:
      CC: gcc
      CXX: g++
      GEN: ninja
      TIDY_THREADS: 4
      TIDY_CHECKS: ${{ inputs.explicit_checks && inputs.explicit_checks || '' }}

    steps:
      - uses: actions/checkout@v4
        name: Checkout override repository
        if: ${{inputs.override_repository != ''}}
        with:
          repository: ${{ inputs.override_repository }}
          ref: ${{ inputs.override_ref }}
          fetch-depth: 0
          submodules: 'recursive'

      - uses: actions/checkout@v4
        name: Checkout current repository
        if: ${{inputs.override_repository == ''}}
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - uses: actions/checkout@v4
        name: Checkout Extension CI tools
        with:
          path: 'extension-ci-tools'
          ref: ${{ inputs.ci_tools_version }}
          repository: ${{ inputs.override_ci_tools_repository }}

      - name: Install
        shell: bash
        run: sudo apt-get update -y -qq && sudo apt-get install -y -qq ninja-build clang-tidy && sudo pip3 install pybind11[global] --break-system-packages

      - name: Setup Ccache
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/feature' }}
        uses: hendrikmuhs/ccache-action@main
        with:
          key: ${{ github.job }}
          save: ${{ github.ref == 'refs/heads/main' || github.repository != 'duckdb/duckdb' }}

      - name: Download clang-tidy-cache
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/feature' }}
        shell: bash
        run: |
          set -e
          curl -Lo /tmp/clang-tidy-cache https://github.com/ejfitzgerald/clang-tidy-cache/releases/download/v0.4.0/clang-tidy-cache-linux-amd64
          md5sum /tmp/clang-tidy-cache | grep 880b290d7bbe7c1fb2a4f591f9a86cc1
          chmod +x /tmp/clang-tidy-cache

      - name: Tidy Check
        shell: bash
        if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/feature' }}
        run: make tidy-check TIDY_BINARY=/tmp/clang-tidy-cache

      - name: Tidy Check Diff
        shell: bash
        if: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/feature' }}
        run: make tidy-check
