#
# This tests the extension-ci-tools works as expected
#
name: Test CI Tools
on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}-${{ github.ref != 'refs/heads/main' || github.sha }}
  cancel-in-progress: true

jobs:
  extension-template-main:
    name: Extension template
    uses: ./.github/workflows/_extension_distribution.yml
    with:
      extension_name: quack
      override_repository: duckdb/extension-template
      override_ref: main
      duckdb_version: v1.1.3
      override_ci_tools_repository: ${{ github.repository }}
      ci_tools_version: ${{ github.sha }}
      extra_toolchains: 'parser_tools;fortran;omp;go;python3'

  extension-template-capi:
    name: Extension template (C API)
    uses: ./.github/workflows/_extension_distribution.yml
    with:
      extension_name: capi_quack
      override_repository: duckdb/extension-template-c
      override_ref: main
      duckdb_version: v1.1.3
      override_ci_tools_repository: ${{ github.repository }}
      ci_tools_version: ${{ github.sha }}
      extra_toolchains: 'python3'

  extension-template-rust:
    name: Extension template (Rust)
    uses: ./.github/workflows/_extension_distribution.yml
    with:
      extension_name: rusty_quack
      override_repository: duckdb/extension-template-rs
      override_ref: main
      duckdb_version: v1.1.3
      override_ci_tools_repository: ${{ github.repository }}
      ci_tools_version: ${{ github.sha }}
      extra_toolchains: 'rust;python3'
      exclude_archs: 'windows_amd64_rtools;windows_amd64_mingw' # TODO: remove once fixed upstream

  delta-extension-main:
    name: Rust builds (using Delta extension)
    uses: ./.github/workflows/_extension_distribution.yml
    with:
      extension_name: delta
      override_repository: duckdb/duckdb_delta
      override_ref: 94f887bd539ec0d5ed0d31bd01ff3845cf378a9d
      override_ci_tools_repository: ${{ github.repository }}
      ci_tools_version: ${{ github.sha }}
      duckdb_version: v1.1.3
      exclude_archs: 'wasm_mvp;wasm_eh;wasm_threads;windows_amd64_rtools;windows_amd64'
      extra_toolchains: 'rust'

  code-quality-check:
    name: Code quality check
    uses: ./.github/workflows/_extension_code_quality.yml
    with:
      override_ci_tools_repository: ${{ github.repository }}
      ci_tools_version: ${{ github.sha }}